<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href = "/css/styles.css" type = "text/css" rel = "stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>New Dog</title>
  </head>
  <body>
    <h1>Create New Dog</h1>
    <form action = "/dogs" method = "post" enctype = "multipart/form-data">
      <div class = "form-group">
        <label for = "dogImage">Image</label>
        <br>
        <input class = "form-control" id = "dogImage" type = "file" name = "image">
        <br>
        <label for = "dogName">Name</label>
        <br>
        <input class = "form-control" id = "dogName" type = "text" name = "name">
        <br>
        <label for = "dogAge">Age</label>
        <br>
        <input class = "form-control" id = "dogAge" type = "text" name = "age">
        <br>
        <label for = "dogPersonalityType">Personality Type</label>
        <br>
        <select class = "form-control" id = "dogPersonalityType" name = "personalityType">
          <option value = "INTJ">INTJ</option>
          <option value = "ENTP">ENTP</option>
          <option value = "ENTJ">ENTJ</option>
          <option value = "INTP">INTP</option>
          <option value = "ISTJ">ISTJ</option>
          <option value = "ESTJ">ESTJ</option>
          <option value = "ISTP">ISTP</option>
          <option value = "ESTP">ESTP</option>
          <option value = "ISFJ">ISFJ</option>
          <option value = "ESFJ">ESFJ</option>
          <option value = "ISFP">ISFP</option>
          <option value = "ESFP">ESFP</option>
          <option value = "ENFP">ENFP</option>
          <option value = "ENFJ">ENFJ</option>
          <option value = "INFP">INFP</option>
          <option value = "INFJ">INFJ</option>
        </select>
        <br>
        <label for = "dogBreed">Dog Breed</label>
        <br>
        <select class = "form-control" id = "dogBreed" name = "dogBreed">
          <option value = "Doberman">Doberman</option>
          <option value = "Jack Russell Terrier">Jack Russell Terrier</option>
          <option value = "Great Dane">Great Dane</option>
          <option value = "Afghan Hound">Afghan Hound</option>
          <option value = "Saint Bernard">Saint Bernard</option>
          <option value = "German Shepherd">German Shepherd</option>
          <option value = "Bulldog">Bulldog</option>
          <option value = "Pit Bull">Pit Bull</option>
          <option value = "Labrador Retriever">Labrador Retriever</option>
          <option value = "Golden Retriever">Golden Retriever</option>
          <option value = "Bichon Frise">Bichon Frise</option>
          <option value = "Poodle">Poodle</option>
          <option value = "Dalmatian">Dalmatian</option>
          <option value = "Collie">Collie</option>
          <option value = "Old English Sheepdog">Old English Sheepdog</option>
          <option value = "Siberian Husky">INFJ</option>
        </select>
        <br>
        <label for = "dogDescription">Description</label>
        <br>
        <textarea class = "form-control" id = "dogDescription" name = "description" cols = "50" rows = "10"></textarea>
        <br>
        <input class = "btn btn-primary" type = "submit" value = "Create New Dog">
      </div>
    </form>
  </body>
</html>
