<a href = "/dogs/{{_id}}">
  <div class = "card text-center bg-light mb-3 border-light mb-3">
    <img class = "card-img-top" src = "{{image}}" />
    <div class = "card-body">
      <h1 class = "card-text">Name: {{name}}</h1>
      <h1 class = "card-text">Age: {{age}}</h1>
    </div>
  </div>
</a>
